.view {
		padding: 20px;
}
.view h3:before {
	content: "";
	width: 7px;
	height: 7px;
	background-color: #ff6547;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}
.choose-line ul {
	border-bottom: 1px solid #ddd;
}
.choose-line ul li {
	font-size: 14px;
	color: #999;
	display: inline-block;
	margin-right: 20px;
	font-family: 'Microsoft YaHei','SF Pro Display',Roboto,Noto,Arial,'PingFang SC',sans-serif£»
}
.choose-line ul li:hover{
	color: #1296db;
	cursor: pointer;
}
.choose-line ul li.active {
	color: #111;
	padding-bottom: 10px;
	border-bottom: 2px solid #1296db;
}