body {
	background: #edeff2;
  color: #111;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  
    overflow-y: overlay;
}

h1 {
  box-sizing: content-box;
  font-size: 25px;
}

a {
	text-decoration: none;
  background-color: transparent;
  color: #333;
}

p {
  /*margin: 0;*/
  color: #51565e;
}

section {
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(58, 58, 58, 0.2);
}

.clearfix:after {
  content: "";
  display: block;
  height: 0px;
  visibility: hidden;
  clear: both;
}

.clearfix {
  zoom: 1;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}

q {
  padding: 10px;
  font-size: 14px;
  color: #999;
  text-align: center;
}

footer {
  padding: 3px;
  background-color: #fff;
}


footer p {
    text-align: center;
    font-size: 14px;
}

button {
  transition: all 0.5s;
  background-color: #33b7ff; 
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #fe6619;
}

.d-flex {
  display: flex;
  display: -webkit-flex; /*webkit内核的浏览器必须加上-webkit-*/
}

a:hover {
  color: #757575;
}

@font-face {font-family: "iconfont";
  src: url('./font/iconfont.eot?t=1589359495934'); /* IE9 */
  src: url('./font/iconfont.eot?t=1589359495934#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAABmQAAAJ6AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApsgQ0BNgIkAwgLBgAEIAWEbQczG7YFEdWLabI/Qjhkg/4kRCJltUcf16Humx1DxDfsRt8DhpIrFOZf0CIhJXgDAAAAAIggWsuqZyaIClAlJ4OKH1kjC0+kHPsI9a8IJJFQCzW5tgueIIJEMn/LLdSOtjnxki4UNJKWoM8S+O4Nv79ZSUueiXBQ5ZIqTaHiQxnY9Q2wcJgvzbbqS0DUA+7GhBD9ZqC/7pKd5fXvYwDkkEmCAofTLlAgd0C53HP5XIoDSwM651gUWYGE3jB2wQu8T6DZkJpYi7fvJ4W9LBDn9MnDVAgoCks3CvUNe4t4YKsx3Uy/cD/6fvwMQyR1mV21+8SGY/qLnCxcOQ0IggsBHa5DRg2F2N+Y2AnBaFlzIo1xrPLgi68CkziqXrC/zi5tBQNQ8ExCT/SopQmUZHgIC5POJLV29x961QMvs//1Lh9cF6HsYI5XHnvb4nj8J4cb9GE2/qbuyUL7bPWlCRkpeiLwF84C1bn8037jSf+lw7KA97+8Hi2oLmRo3LUz+EXCgR3FENvGVDRhoysZmrQ0oVkzKrCn2+epmr77yYRGfXflajCYIWs0QSzUGuq0mEa9RotoNmXT4RY9rkCUJky6ChA6PUTSbh1Zp+fEQv2EOv1+o15ngGYHozNbUIc+IawYn1D/QDfjIFwzn+LyC8pXV1FeHNEfSFaHIXD9cjrBAWmJDfYtQ2YBgsYeYvAYdt0IE40GG3YV8xR5nmh6k9uM/eIEYcX4BPUP6GYcRDCYT5XPX1C+uoo6auqcDySrRwcBlz+AmCiGQTWP8op9yxCzAILGHsRgFnbdCKbmWQYbdqkJsSniOb3EUIW7var/gXzWgK0Vjj3ryfMdRsuLBQAAAA==') format('woff2'),
  url('./font/iconfont.woff?t=1589359495934') format('woff'),
  url('./font/iconfont.ttf?t=1589359495934') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./font/iconfont.svg?t=1589359495934#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * 头部header
 */

header {
    background: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

/*头部flex布局*/
header .header-inner {
    display: flex;
    display: -webkit-flex;  /*webkit内核的浏览器必须加上-webkit-*/
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding: 20px 15px;
    position: relative;
}

/*头部左侧*/
header .header-brand {
    position: relative;
    padding: 20px 0px;
    width: 100%;
}
/*logo*/
header .header-brand a {
    color: #111;
    white-space: nowrap;
}
/*菜单栏折叠*/
header .menu-toggle {
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    top: 25%;
    right: 15px;
    display: none;
}

header .menu-toggle:hover span {    /*划过父元素，子元素变色*/
    background-color: #33B7FF;
}

.menu-toggle span {
    background-color: #000;
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 19px;
    right: 6px;
    border-radius: 100px;
    transition: transform 0.5s;
}

.menu-toggle span:first-child {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}

.menu-toggle.x span:first-child {
    transform: rotate(-45deg);
}

.menu-toggle.x span{
    transform: rotate(45deg);
}

/*头部右侧*/
header .header-main {
    display: flex;
    display: -webkit-flex;
}

/*菜单栏*/
.header-main ul {
    margin: 16px 0;
    white-space: nowrap;
}

.header-main ul li {
    display: inline-block;
}

.header-main ul li a {
    padding: 45px 20px;
}

.header-main ul li.active a {
    color: #33B7FF;
}
/*搜索框*/
.header-main .header-search {
    padding: 0px 0px 0px 20px;
    align-self: center;
    display: flex;
}

.header-search input {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 34px;
    padding: 1px 10px;
}

.header-search .search-btn {
    width: 40px;
    height: 34px;
    border: 1px solid transparent;
    color: #fff;
    background: #33b7ff; 
    cursor: pointer;  
    text-align: center;
    line-height: 34px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0px;
}

/*
 * 内容部分main
 */
main {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}  

/*复选框样式*/
input[type="checkbox"] + label::before {  /*+相邻元素*/
    content: '\a0';
    display: inline-block;
    vertical-align: .1em;
    width: .8em;
    height: .8em;
    margin-right: .2em;
    border-radius: .2em;
    background: #fff;
    text-indent: .15em;
    line-height: .65; 
    border: 1px solid #ddd;
}

input[type="checkbox"]:checked + label::before {
    content: '\2713';
}

input[type="checkbox"] {
     position: absolute;
     clip: rect(0, 0, 0, 0);  /*全部裁剪*/
}

input[type="checkbox"]:focus + label::before {  /*聚焦的样式*/
     box-shadow: 0 0 .1em .1em #58a; 
}

input[type="checkbox"]:disabled + label::before { /*全部裁剪的样式*/
    background: gray;
    box-shadow: none;
    color: #555; 
}